POSTGRES_USER=postgres
POSTGRES_PASSWORD=P@ssword
POSTGRES_DB=rails_auth_development
POSTGRES_TEST_DB=rails_auth_test
APP_USER=auth_app_user
APP_USER_ID=1000
APP_USER_GROUP_ID=1000
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
GOOGLE_REDIRECT_URI=http://localhost:3000/users/auth/google_oauth2/callback

